.App {
  text-align: center;
  font-family: Inter,sans-serif;
}
  
.App-header {
  background-color: #616161;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.flex-parent-element {
  display: flex;
  width: 100%;
}

.flex-child-element {
  flex: 1;
  border: 2px solid #c40000;
  margin: 10px;
  border-radius: 25px;
  padding: 2px;
}

.flex-child-element:first-child {
  margin-right: 20px;
}

.button-59 {
  align-items: center;
  background-color: #fff;
  border: 2px solid #c40000;
  border-radius: 25px;
  box-sizing: border-box;
  color: #c40000;
  cursor: pointer;
  display: inline-flex;
  fill: #c40000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #09cc00;
  color: #09cc00;
  fill: #09cc00;
}

.button-59:active {
  border-color: #09cc00;
  color: #09cc00;
  fill: #09cc00;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}

.table-container {
  overflow-x: auto;
  overflow-y: auto;
  max-width: 100%;
  max-height: 400px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.styled-table {
  border-collapse: collapse;
  width: 100%;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
}

.styled-table thead tr {
  background-color: #c40000;
  color: #ffffff;
  text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #c40000;
}

@media screen and (max-width: 600px) {
  .styled-table {
    font-size: 12px; 
  }
}

.showData{
  margin-top: 20px;
}

#input {
  display: none;
}

.label {
  margin-bottom: 15px;
}

footer {
  left:0;
  bottom:0;
  right:0;
  background-color: #616161;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

a:link {
  color: white;
}

a:visited{
  color: white
}

a:hover {
  color: #09cc00
}
